# Homebrew formula template for yap.
#
# This is a *template*. Each release, replace the @VERSION@ / @SHA256_*@ markers
# with values from the published release artifacts, then commit the rendered
# file to a tap repository (e.g. ooyeku/homebrew-tap as `Formula/yap.rb`).
#
# Users then install with:
#   brew tap ooyeku/tap
#   brew install yap

class Yap < Formula
  desc "Modern modal text editor for the terminal"
  homepage "https://github.com/ooyeku/yap"
  version "@VERSION@"
  license "MIT"

  if Hardware::CPU.arm?
    url "https://github.com/ooyeku/yap/releases/download/v#{version}/yap-v#{version}-aarch64-macos.tar.gz"
    sha256 "@SHA256_AARCH64_MACOS@"
  else
    url "https://github.com/ooyeku/yap/releases/download/v#{version}/yap-v#{version}-x86_64-macos.tar.gz"
    sha256 "@SHA256_X86_64_MACOS@"
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/ooyeku/yap/releases/download/v#{version}/yap-v#{version}-aarch64-linux.tar.gz"
      sha256 "@SHA256_AARCH64_LINUX@"
    else
      url "https://github.com/ooyeku/yap/releases/download/v#{version}/yap-v#{version}-x86_64-linux.tar.gz"
      sha256 "@SHA256_X86_64_LINUX@"
    end
  end

  def install
    bin.install "bin/yap"
    (lib/"yap/plugins").install Dir["lib/yap/plugins/*"] if Dir.exist?("lib/yap/plugins")
  end

  test do
    assert_match "yap", shell_output("#{bin}/yap --help")
  end
end
